/*Color choices: I wanted to have something calming and welcoming. So choice earthy like tan and pearl.*/

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #F5F5DC;
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('./images/bento_background.png'); /* 1. Specify the image path */
  background-repeat: no-repeat;           /* 2. Prevent the image from repeating */
  background-position: center center;     /* 3. Center the image on the page */
  background-attachment: fixed;           /* 4. Keep the watermark fixed when scrolling */
  background-size: cover;                 /* 5. Ensure the image covers the entire area */
  /*opacity: 0.3;*/
  /*z-index: -1;*/
  /* Always set a background-color as a fallback if the image can't be loaded */
  /*background-color: #ffffff;*/
}

/*Header font*/
.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rubik-doodle-shadow-regular {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
}

.google-sans-flex-words {
                     font-family: "Google Sans Flex", sans-serif;
                     font-optical-sizing: auto;
                     font-weight: 40;
                     font-style: normal;
                     font-variation-settings:
                       "slnt" 0,
                       "wdth" 100,
                       "GRAD" 0,
                       "ROND" 0;
                   }

h1{
  font-family: "Amatic SC", sans-serif;
  font-size: 90px;
  font-weight: bolder;
  font-style: normal;
  text-decoration: underline;
  text-underline-position: below;
  text-align: center;
}

h2{
  text-align: center;
}

menu button{
  button {border-radius: 8px;}

}

p{
  text-align: center;
  font-family: google sans flex;
}

.t1, th, td{
  margin-left: auto;
  margin-right: auto;
  /*style="border:Blue 3px solid; width: 500px; font-family: Google Sans Flex, sans-serif;"*/
  border: 3px solid;
  background: antiquewhite;
  font-family: google sans flex, sans-serif;

}

.awesome{
  font-family: "Awesome";
}


a{
  text-align: center;
  font-family: "Amatic SC", sans-serif;
  display: inline-block;
  outline: 0;
  border: 3px white solid;
  box-shadow: none;
  cursor: pointer;
  padding: 9px 22px;
  font-size: 40px;
  height: 50px;
  font-weight: 400;
  color: #fff;
  background-color: darksalmon;
  border-radius: 50px;
  transition: color .2s ease, background-color .2s ease, box-shadow .2s ease;
  text-decoration: none;


  :hover {
    box-shadow: 0 0 0 0.15rem #5ceace;
    cursor: pointer;
  }
}

#menubox{
  text-align: center;
  block-size: 300px;
  border: 3px solid;
  border-radius: 10px;
}

#overview{
  border: 3px solid ;
  width: 50%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 10px 50px 10px;
  background-color: white;
  font-size: 20px;
}
